<div class="row">
  <div class="col s6">
    <div class="card" id="brand-background"><br><br>
          <h4><center>Amber Craford</center></h4>
          <p><center><%="Student at Turing School of Software & Design"%></center></p>
          <br><hr class="intro-divider"><br>
          <div class="container">
            <p><center>
              Amber is a student in web devepment with proficiency in Ruby and Rails languages.  She is currently studying in Denver, CO and will be seeking employment in the Pittsburgh area for the Spring of 2016.
            </center></p>
          </div>
          <br><hr class="intro-divider"><br>
    </div>
  </div>
</div>
