<div class="row">
  <div class="col s6">
    <div class="card" id="brand-background"><br><br>
          <h4><center>Amber Crawford</center></h4>
          <p><center><%="Student at Turing School of Software & Design"%></center></p>
          <br><hr class="intro-divider"><br>
          <div class="container">
            <p><center>
              I am a full-stack web developer currently completing a seven-month program at the Turing School of Software &amp; Design with a focus on Ruby, Rails and Javascript development.<br>

              Outside of programming, I also have experience in business analytics and project management having spearheaded several initiatives with Booster.com, a partner of CustomInk, LLC.  I also have a strong passion for non-profit development and have worked directly with several animal-focused groups wherein I directly handled lion, tiger, and bear populations - oh my!<br>

              I will graduate from the Turing School in March of 2016 and am excited to tackle new problems in the business world with a growing and innovative company in tech.  Feel free to contact me with any questions or just to talk shop!
              <!-- Amber is a student in web development with proficiency in Ruby and Rails languages.  She is currently studying in Denver, CO and will be seeking employment in the Pittsburgh area for the Spring of 2016. -->
            </center></p>
          </div>
          <br><hr class="intro-divider"><br>
    </div>
  </div>
</div>
