<br>
<br>
<br>
<div class="row">
  <div class="col s6">
    <h4 class="white-text fancy-font"><center>Amber Crawford</center></h4>
    <p><center class="white-text thin"><%="Student at Turing School of Software & Design"%></center></p><br>
    <center><div class="btn-group">
      <a class="modal-trigger waves-effect waves-light btn home-btn" href="#modal1">About Me</a>
        <div id="modal1" class="modal">
          <div class="modal-content">
            <div style="border: solid"><br>
              <!-- <div class="row"> -->
                <!-- <div class="col s1 offset-s1" style="margin-left: 24px">
                  <img id="about-picture" src="http://i.imgur.com/085wTny.jpg">
                </div> -->
                <div>
                  <h4><center>Amber Crawford</center></h4>
                  <h6 class="fancy-font-small" style="bold-italic"><center><%="Student at Turing School of Software & Design"%></center></h6>
                  <h6 class="fancy-font-small"><center>Denver, Colorado</center></h6>
                </div>
              <!-- </div> -->
                <hr class="about-divider">
                <div class="container">
                  <p><center>
                    I am a student in web devepment with proficiency in Ruby and Rails.<br>
                    I am currently completing a seven-month program in web development and <br>
                    design at the Turing School in Denver, Colorado and will graduate with <br>
                    additional proficiency in Javascript and SQL in the Spring of 2016.
                  </center></p>
                  <hr class="about-divider">
                  <center><div class="btn-group">
                    <a href="http://www.linkedin.com/in/ambercrawford" class="btn about-btn black" target="_blank">LinkedIn</a>
                    <a href="#modal2" class="modal-trigger waves-effect waves-light btn about-btn black">Contact</a>
                  </div>
                </div><br>
            </div>
          </div>
        </div>
      <a href="https://github.com/amcrawford" class="btn home-btn" target="_blank"><center>GitHub</center></a>
      <a href="#modal2" class="modal-trigger waves-effect waves-light btn home-btn">Contact</a>
        <div id="modal2" class="modal">
          <div class="modal-content"><br>
            <div style="border: solid">
              <h4 class="fancy-font-caption"><center>Amber Crawford</center></h4>
              <hr class="about-divider">
              <h5><sub><i class="material-icons small" style="margin-top:12px">email</i></sub>  <span>amber.crawford.developer@gmail.com</span></h5>
              <h5><sub><i class="material-icons small" style="margin-top:12px">phone</i></sub>  410-916-3726</h5><br>
            </div><br>
          </div>
        </div>
</div>
