<br>
<br>
<br>
<div class="row">
  <div class="col s6">
    <h4 class="white-text fancy-font"><center>Amber Crawford</center></h4>
    <p><center class="white-text thin"><%="Student at Turing School of Software & Design"%></center></p><br>
    <center><div class="btn-group">
      <a class="modal-trigger waves-effect waves-light btn home-btn" href="#modal1">About Me</a>
        <div id="modal1" class="modal">
          <div class="modal-content">
            <h4><center>Amber Crawford</center></h4>
            <p><center><%="Student at Turing School of Software & Design"%></center></p>
            <br><hr class="intro-divider"><br>
            <div class="container">
              <p><center>
                Amber is a student in web devepment with proficiency in Ruby and Rails languages.
                She is currently studying in Denver, CO and will be seeking employment in the Pittsburgh
                area for the Spring of 2016.
              </center></p>
            </div>
            <br><hr class="intro-divider"><br>
          </div>
        </div>
      <a href="https://github.com/amcrawford" class="btn home-btn"><center>GitHub</center></a>
      <a href="#modal2" class="modal-trigger waves-effect waves-light btn home-btn">Contact</a>
        <div id="modal2" class="modal">
          <div class="modal-content"><br>
            <h5><b>Email:</b>amber.crawford.developer@gmail.com<br></h5>
            <br><hr class="intro-divider"><br>
            <h5><b>Phone:</b> 410-916-3726</h5><br>
          </div>
        </div>

    </div></center>
  </div>
</div>
