<br>
<br>
<br>
<div class="row">
  <div class="col s6">
    <h4 class="white-text fancy-font"><center>Amber Craford</center></h4>
    <p><center class="white-text thin"><%="Student at Turing School of Software & Design"%></center></p><br>

        <!-- Amber is a student in web devepment with proficiency in Ruby and Rails languages.  She is currently studying in Denver, CO and will be seeking employment in the Pittsburgh area for the Spring of 2016. -->
      <!-- </center></p> -->
    <center><div class="btn-group">
      <a href="/about" class="btn home-btn"><center>About Me</center></a>
      <a href="https://github.com/amcrawford" class="btn home-btn"><center>GitHub</center></a>
      <a href="mailto:amber.crawford.developer@gmail.com" class="btn home-btn"><i class="fa fa-envelope"></i> <span class="network-name">Contact</span></a>
    </div></center>
  </div>
</div>
