<h3 class="white-text thin">Past Projects</h3><br>
<div class="slider">
   <ul class="slides">
     <li class="gallery-pic">
        <a href="http://slota-chips.herokuapp.com/"><img class="gallery-pic" src="http://i.imgur.com/fpIaNN4.png"></a>
        <div class="caption right-align fancy-font-caption">
          <h3 class="black-text">School E-Commerce Project</h3>
        </div>
    </li>
    <li class="gallery-pic">
       <a href="http://slota-chips.herokuapp.com/"><img class="gallery-pic" src="http://i.imgur.com/UW0W2p7.png"></a>
       <div class="caption right-align fancy-font-caption" style="margin-top:240px">
         <h3 class="black-text">School E-Commerce Project</h3>
       </div>
   </li>
   <li class="gallery-pic">
      <a href="https://github.com/amcrawford/thought-post"><img class="gallery-pic" src="http://i.imgur.com/cVO44SF.png"></a>
      <div class="caption right-align fancy-font-caption" style="margin-top:240px">
        <h3 class="black-text">School API-Consumption Project</h3>
      </div>
  </li>
  <li class="gallery-pic">
     <img class="gallery-pic" src="http://i.imgur.com/zecjAbm.png">
     <div class="caption right-align fancy-font-caption" style="margin-top:240px">
       <h3 class="black-text">School Auction-Hosting Project</h3>
     </div>
 </li>
  </ul>
</div>
