<h3 class="white-text thin">Past Projects</h3><br>
<div class="slider">
   <ul class="slides">
     <li class="gallery-pic" style="border: solid">
        <a href="http://young-harbor-1645.herokuapp.com"><img class="gallery-pic" src="http://i.imgur.com/fpIaNN4.png"></a>
        <div class="caption right-align fancy-font-caption">
          <h3 class="black-text">School E-Commerce Project</h3>
        </div>
    </li>
    <li class="gallery-pic" style="border: solid">
       <a href="http://young-harbor-1645.herokuapp.com"><img class="gallery-pic" src="http://i.imgur.com/UW0W2p7.png"></a>
       <div class="caption right-align fancy-font-caption" style="margin-top:240px">
         <h3 class="black-text">School E-Commerce Project</h3>
       </div>
   </li>
  </ul>
</div>
