<!DOCTYPE html>
<html>
<head>
  <title>Amber Crawford</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lobster">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Noto+Serif">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body class="application-body">
  <nav  role="navigation" id="home-nav">
          <div class="nav-wrapper">
              <ul id="nav-mobile" class="side-nav">
                  <li><a href="/">home</a></li>
                  <li><a href="/">resume</a></li>
                  <li><a href="/">projects</a></li>
              </ul>
              <a href="#" data-activates="nav-mobile" class="button-collapse show-on-large" >
                  <i class="mdi-navigation-menu"></i>
              </a>
          </div>
      </nav>

<div class="container">
    <%= yield %>
</div>


</body>
</html>
